{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container p-2">
    <h1 class="text-center pb-2">Our philosophy</h1>

    <p>At Botanica Essentials, we believe that skincare is more than just a routine; it's a reflection of our values and
        our
        commitment to both the planet and its inhabitants.</p>

    <h4>Nature at its Best</h4>

    <p>Our devotion to natural beauty means that our formulations are derived from the earth's purest ingredients. We
        understand that nature has the power to heal, refresh, and rejuvenate. That's why every product we offer is
        carefully
        crafted with natural ingredients, ensuring that your skin gets the gentle, organic nourishment it deserves.</p>

    <div class="text-center pb-2 pt-2">
        <img src="{% static 'images/our_philosophy.jpeg' %}" alt="Our Philosophy Visual Representation"
            class="img-fluid philosophy-image">
        <p class="pt-2"><i>In nature, we find the true essence of beauty and sustainability.</i></p>
    </div>

    <h4>Cruelty-Free Commitment</h4>

    <p>We stand firm in our belief that beauty should not come at the cost of another's suffering. Our products are
        never
        tested on animals, and we ensure that each ingredient we use adheres to the same ethical standard. Because
        beauty should
        always be kind.</p>

    <h4>Circular Economy & Ethical Sourcing</h4>

    <p>Going beyond skincare, we recognize our responsibility towards the global community. Our participation in a
        circular
        economy ensures sustainability not just for our business, but for the world.

        Moreover, by sourcing our ingredients from third-world countries, we aim to uplift and support the very
        communities that
        help us bring our vision to life. This symbiotic relationship allows us to give back, ensuring that our business
        growth
        translates to community development.</p>

    <h4>Join Us in Making a Difference</h4>

    <p>As you embrace our products, you become a part of a larger movement. A movement that prioritizes ethical
        practices,
        values the gift of nature, and believes in the power of community. Together, let's make beauty a force for good.
    </p>

    {% endblock %}