html {
    height: 100%;
}

body {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

#rotatingBanner{
    border-bottom: 1px solid darkslategrey;
}

#icons-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-link {
    padding: 0.5rem;
    color: solid black;
}

.font-icon {
    color: solid black;
}

.main-logo-link {
    font-family:monospace;
    color:black;
    margin: 0%;
}

.dropdown-menu {
    width: auto;
    max-width: 95vw;
}

.search-bar {
    display: none;
    width: 200px;
    margin-right: 10px;
}

.carousel-inner .carousel-item {
    transition: transform 1s ease;
}

/* Banner Style */
.banner-section {
    background-image: url("/static/images/new-background-2.jpg");
    background-size: cover;
    height: calc(90vh);
    padding: 5rem;
    padding-bottom: 20rem;
    width: 100%;
    position: relative;
}

#inlineSearchBar {
    width: 150px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 10px;
}

.shop-now-button{
    background-color: white;
    border: 3px solid black;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container .btn,
.flex-container .qty_input {
    margin: 0 0.5rem;
    /* Adjusting the margin in rem */
}


/*  stackoverflow answer */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type=number] {
    padding: 0.5rem;
    border: none;
    max-width: 5rem;
}

/* end */

#toggleSearch:checked~#searchIconForm {
    display: inline-flex !important;
}

#toggleSearch:checked~label {
    display: none;
}

.index-text {
    padding-top: 1.5rem;
}

.footer {
    margin-top: 3rem;
    background-color: white;
    border: 1px solid gray;
    bottom: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;

}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 1050;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.primaryAction {
    margin-top: 1rem;
}

.fa-chevron-right {
    margin: 1rem;
}

.fa-chevron-left {
    margin: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-grow-1 {
    flex: 1;
}

.submit-button {
    background-color: white;
    border: 1px solid gray;
}

/* faq page style */
.faq-header {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.faq-question {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.faq-question i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.faq-answer {
    font-family: 'Arial', sans-serif;
    color: #666;
}

.view-more-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #000;
    font-family: 'Arial', sans-serif;
}

.view-more-btn:hover {
    background-color: #ccc;
    color: #000;
}
/* end faq page */


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
