{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="overlay"></div>
<div class="container my-3">
    <div class="row mt-1">
        <div class="col">
            <h2 class="text-center">Check-out our latest posts!</h2>
            <hr>
        </div>
    </div>
    
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-6">
            <div class="card m-2" style="border: 1px solid gray;">
                <div class="card-header bg-transparent">
                    By: {{ post.author }}
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h5>{{ post.title }}</h5>
                        <card-text>
                            <p>{{ post.body }}</p>
                        </card-text>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}