{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="m-2">
            <div class="bg-transparent">
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a class="text-danger float-right" href="{% url 'delete_blog' post.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
            <div class="">
                <h2 class="text-center font-weight-bold">{{ post.title }}</h2>
                {% if post.image %}
                <img class="figure-img img-fluid rounded my-3" src="{{ post.image.url }}" alt="{{ post.title }}"
                    style="max-width:40%;
                float: left;">
                {% endif %}
                <div class="m-3 text-justify">
                    <card-text>
                        <p>{{ post.body }}</p>
                    </card-text>
                </div>
            </div>
            <footer class="blockquote-footer"><cite title="Source Title">By: {{ post.author }}</cite></footer>
        </div>
    </div>

{% endblock %}