{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock head_title %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col text-center">
            <h1>{% trans "Log In" %}</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
            <div class="socialaccount_ballot mb-3">
                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
                <div class="text-center mt-3">{% trans 'or' %}</div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}

            {% endif %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="btn submit_button rounded-0" href="{% url 'home' %}">Home</a>
                <!-- sign in button -->
                <button class="primaryAction btn btn-block" type="submit"><h5>{% trans "Log In" %}  <i class="fas fa-chevron-right"></i></h5></button>
                <!-- end -->
                <p class="mt-2">
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </p>
            </form>
            <h3>Don't have an account?</h3>
            <a class="primaryAction btn btn-block" href="{{ signup_url }}"><h4>Sign up <i class="fas fa-chevron-right"></i></h4></a>
        </div>
    </div>
</div>
{% endblock content %}